/* line 1, ../../app/styles/dashboard.scss */
.dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
/* line 7, ../../app/styles/dashboard.scss */
.dashboard svg {
  width: 100%;
  height: 100%;
  margin-top: 1%;
}
/* line 12, ../../app/styles/dashboard.scss */
.dashboard .nv-x .tick line {
  display: none;
}
/* line 15, ../../app/styles/dashboard.scss */
.dashboard .nv-y .tick line {
  display: none;
}
/* line 21, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar {
  font-family: "Lato";
  font-weight: 300;
  color: #3a78b4;
  background: linear-gradient(to bottom, #9cd0f7, #62a0dc);
  width: 400px;
}
/* line 27, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .input-bar-header {
  margin: 5%;
  margin-top: 5%;
  font-size: 1.5em;
}
/* line 35, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form {
  margin-top: 5%;
}
/* line 37, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form .enter-flight {
  display: felx;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25em;
  height: 50px;
  border: none;
}
/* line 46, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form input {
  width: 80%;
  margin: auto;
  height: 50px;
  border: none;
  border-bottom: 1px solid #62a0dc;
  transition: border-bottom .1s, background-color .5s ease;
  font-family: "Lato";
  font-weight: 300;
  color: black;
  margin-top: 15px;
}
/* line 58, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form input:focus {
  outline: none;
  border-bottom: 2px solid gold;
  background-color: #fafafa;
  color: black;
}
/* line 68, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
/* line 74, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .search-button {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #9cd0f7;
  margin: auto;
  height: 50px;
  justify-content: center;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
/* line 84, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .search-button button {
  border: none;
}
/* line 88, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .add-flight-button {
  color: #9cd0f7;
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #62a0dc;
  height: 50px;
  justify-content: center;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
/* line 98, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .add-flight-button button {
  border: none;
}
/* line 105, ../../app/styles/dashboard.scss */
.dashboard .toggle-buttons-container .add-flight-button:hover {
  background-color: white;
}
/* line 109, ../../app/styles/dashboard.scss */
.dashboard .toggle-buttons-container .search-button {
  background-color: white;
}
/* line 115, ../../app/styles/dashboard.scss */
.dashboard .data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 124, ../../app/styles/dashboard.scss */
.dashboard .data-container .graph-container {
  height: 60vh;
  width: 100%;
  background-color: white;
}
/* line 132, ../../app/styles/dashboard.scss */
.dashboard .data-container .data-table {
  height: 40vh;
  width: 100%;
  overflow-y: scroll;
}
/* line 140, ../../app/styles/dashboard.scss */
.dashboard .data-container .data-table table {
  width: 100%;
}
/* line 144, ../../app/styles/dashboard.scss */
.dashboard .data-container .data-table thead {
  background: linear-gradient(to bottom, rgba(130, 186, 233, 0.5), #82bae9);
}
