/* line 3, ../../app/styles/dashboard.scss */
.dashboard {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: white;
}
/* line 10, ../../app/styles/dashboard.scss */
.dashboard svg {
  width: 100%;
  height: 100%;
  margin-top: 40%;
}
/* line 18, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar {
  width: 400px;
  height: 100vh;
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  position: relative;
}
/* line 25, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .input-bar-header {
  margin: 5%;
  margin-top: 5%;
  font-size: 1.5em;
}
/* line 33, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form {
  margin-top: 5%;
}
/* line 35, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form .enter-flight {
  display: felx;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.25em;
  height: 50px;
  border: none;
}
/* line 44, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .left-input-form input {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
/* line 58, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-top: 10px;
}
/* line 64, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .search-button {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: white;
  margin: auto;
  height: 50px;
  justify-content: center;
}
/* line 72, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .search-button button {
  border: none;
}
/* line 76, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .add-flight-button {
  display: flex;
  align-items: center;
  width: 50%;
  background-color: #ccc;
  height: 50px;
  justify-content: center;
}
/* line 83, ../../app/styles/dashboard.scss */
.dashboard .left-input-bar .toggle-buttons-container .add-flight-button button {
  border: none;
}
/* line 92, ../../app/styles/dashboard.scss */
.dashboard .data-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* line 100, ../../app/styles/dashboard.scss */
.dashboard .data-container .graph-container {
  display: flex;
  height: 60vh;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
}
/* line 108, ../../app/styles/dashboard.scss */
.dashboard .data-container .graph-container .histogram {
  margin-top: 500px;
}
/* line 111, ../../app/styles/dashboard.scss */
.dashboard .data-container .graph-container rect {
  fill: steelblue;
  stroke: white;
}
/* line 115, ../../app/styles/dashboard.scss */
.dashboard .data-container .graph-container line {
  stroke: black;
  shape-rendering: crispEdges;
}
/* line 123, ../../app/styles/dashboard.scss */
.dashboard .data-container .data-table {
  height: 40vh;
  background-color: white;
  width: 100%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}
