/* line 1, ../../app/styles/table.scss */
table {
  width: 100%;
}
/* line 3, ../../app/styles/table.scss */
table tr {
  width: 100%;
  height: 4em;
}
/* line 7, ../../app/styles/table.scss */
table td {
  margin: auto;
  width: 50px;
}
/* line 11, ../../app/styles/table.scss */
table td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}
/* line 14, ../../app/styles/table.scss */
table td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}
/* line 18, ../../app/styles/table.scss */
table tr:nth-child(odd) td {
  background-color: rgba(249, 249, 249, 0.7);
}
/* line 21, ../../app/styles/table.scss */
table tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}
/* line 24, ../../app/styles/table.scss */
table tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}
/* line 27, ../../app/styles/table.scss */
table tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}
